<header>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Shroom Hunters</a>

        <button class="button navbar-burger is-dark" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>       
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/shrooms">Database</a>
          <a class="navbar-item" href="/services">Services</a>
          <a class="navbar-item" href="/education">Education</a>
          <a class="navbar-item" href="/about">About</a>
        </div>
      </div>
    </nav>
</header>

