
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey There!</h2>
    <p>
      You have successfully signed up for the course <strong><%= @course.title %></strong>, which is scheduled for <%= @course.date %> at <%= @course.location %>. Please arrive at the scheduled time at least 5 minutes early if possible so we can all get started on time.
    </p>
    <p>Thanks for being a part of Shroom Hunters and have a great day!</p>
  </body>
</html>