<header>
    <nav class="changeColor" id="navbar">
      <ul class="logo">
          <li><a href="/">Shroom Hunters</a></li>
      </ul>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/database">Database</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
</header>

