<br>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">About Us</h2>
    <hr>
    <div class="image">
      <img src="assets/out_hunting.jpg" alt="man looking for mushrooms in the woods">
    </div>
    <br>
    <div class="content">
      <h3 class="subtitle">Who We Are </h3>
      <p>We are a group of passionate people who love the outdoors, wild foraging and using the ingredients we find to enrich lives.</p>
      <h3 class="subtitle">What We Do</h3>
      <p>We work hard to educate and promote safe wild foraging and mushroom gathering. We offer a wide range of services to cater to your every shroom hunting need!</p>
      <h3 class="subtitle">Why Choose Us</h3>
      <p>We will work tirelessly to put your needs first as a customer of our business. Let us work together!</p>
    </div>
  </div>
</section>


