  <section>
    <h2>About Us</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil soluta, laboriosam, sed eaque</p>
    <div>
      <img src="assets/out_hunting.jpg" alt="man looking for mushrooms in the woods">
      <div>
      <h3>Who We Are </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam atque iste deserunt, error enim! Dicta recusandae ducimus, perspiciatis reiciendis ea at doloremque distinctio doloribus nihil incidunt, minus! Consequuntur eum, similique!</p>
      <h3>What We Do</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam atque iste deserunt, error enim! Dicta recusandae ducimus, perspiciatis reiciendis ea at doloremque distinctio doloribus nihil incidunt, minus! Consequuntur eum, similique!</p>
      <h3>Why Choose Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam atque iste deserunt, error enim! Dicta recusandae ducimus, perspiciatis reiciendis ea at doloremque distinctio doloribus nihil incidunt, minus! Consequuntur eum, similique!</p>
    </div>
    </div>
  </section>


