    <section class="contact">
      <h2 class="title">Contact Us</h2>
      <hr class="divider">
      <p class="divider-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sint facilis veritatis dolore</p>
      <div class="contact-info">
        <i class="fa fa-map-marker contact-icon" aria-hidden="true"></i>
        <p>1234 Willows Rd,</p>
        <p>Raleigh, NC 22222</p>
      </div>
      <div class="contact-info">
        <i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i>
        <p>info@company.com</p>
      </div>
      <div class="contact-info">
        <i class="fa fa-phone contact-icon" aria-hidden="true"></i>
        <p>+1 123 456 1234</p>
      </div>
      <hr class="divider">
      <h3 id="message">Leave us a message</h3>
      <div class="form-box">
        <form action="">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <textarea placeholder="Message"></textarea>
          <div class="submit-message"><button>Send Message</button></div>
        </form>
      </div>
    </section>

