  <br>
  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">The World of Mushrooms</h2>
      <hr>
    </div>
    <div class="container has-text-centered">
      <div class="columns is-mobile">
        <div class="column">
          <div class="image">
            <img src="assets/hunting.jpeg" alt="mushrooms on forest floor">
          </div>
        </div>         
        <div class="column">
          <div class="image">
            <img src="assets/education.jpg" alt="mushrooms on a log">
          </div>
        </div> 
        <div class="column">
          <div class="image">
            <img src="assets/sales.jpeg" alt="tall mushrooms in a hand">
          </div>      
        </div>
        <div class="column">
          <div class="image">
            <img src="assets/cooking.jpeg" alt="mushrooms and perogies in a frying pan"> 
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container has-text-centered">
      <h2 class="subtitle">Take A Look At Some Of Our Upcoming Classes</h2>

      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Location</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
         <tr>
           <th><a href="/classes/#">Intro to Shroom Hunting</a></th>
           <td>Umstead State Park | Raleigh, NC</td>
           <td>11am | January 3rd, 2018</td>
         </tr>
         <tr>
           <th><a href="/classes/#">Intermediate Mushroom ID</a></th>
           <td>Yellowstone Park | Wisconsin</td>
           <td>2pm | January 21st, 2018</td> 
         </tr> 
        </tbody>
      </table>
    </div>
  </section>

