
<section class="hero is-large is-primary">
  <div class="hero-body shroom-basket">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to Shroom Hunters</h1>
      <h2 class="subtitle">Helping you find your next tasty morsels!</h2>  
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h2 class="subtitle">You have reached the greatest website on the planet for learning about mushrooms and wild foraging!</h2>
</div>
</section>

 
