    <section class="services" id="services">
    <h2 class="title">Our Services</h2>
    <hr class="divider">
    <p class="divider-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus labore ipsa officiis esse beatae.</p>

    <div class="services-list">
      <div>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <h3>Hunting</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sint facilis veritatis dolore</p>
      </div>
      <div>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <h3>Education</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sint facilis veritatis dolore</p>
      </div>
      <div>
        <i class="fa fa-balance-scale" aria-hidden="true"></i>
        <h3>Sales</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sint facilis veritatis dolore</p>
      </div>
      <div>
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <h3>Recipes</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sint facilis veritatis dolore</p>
      </div>
    </div>
  </section>

