    <section>
      <h2>Our Services</h2>
      <hr>
      <p>Take a look at some of the services we offer!</p>

      <div>
        <div>
          <i class="fa fa-eye" aria-hidden="true"></i>
          <h3>Hunting</h3>
          <p>Information on mushroom hunting and wild foraging</p>
        </div>
        <div>
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <h3>Education</h3>
          <p>Take a look at our mushroom database!</p>
        </div>
        <div>
          <i class="fa fa-balance-scale" aria-hidden="true"></i>
          <h3>Sales</h3>
          <p>Purchase some of our recent findings! Interested in some mushroom-themed swag?</p>
        </div>
        <div>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <h3>Recipes</h3>
          <p>How to cook your yummy finds!</p>
        </div>
      </div>
  </section>

