<br>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Our Services</h2>
    <hr>
  </div>
  <div class="container has-text-centered">
    <br>
    <div class="columns">
      <div class="column">
        <i class="fa fa-eye fa-3x" aria-hidden="true"></i>
        <h3 class="subtitle">Hunting</h3>
        <p>We practice extensive wild foraging and mushroom gathering. We then offer those findings up for sale in our <a href="/shop">store</a>.</p>
      </div>
      <div class="column">
        <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
        <h3 class="subtitle">Education</h3>
        <p>We maintain an extensive <a href="/shrooms">database</a> of our findings and offer one-on-one <a href="/education">classes</a> for hunting and cooking with mushrooms!</p>
      </div>
      <div class="column">
        <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
        <h3 class="subtitle">Sales</h3>
        <p>We offer branded clothing and hunting tools. You can even purchase our findings in the <a href="/shop">shop</a>!</p>
      </div>
      <div class="column">
        <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
        <h3 class="subtitle">Recipes</h3>
        <p>Take a look at our scrumptious <a href="/recipes">recipes</a> page for some tips on cooking with wild shrooms!</p>
      </div>
    </div>
  </div>
</section>

