<section class="section">
	<h1 class="title has-text-centered has-text-primary">Thank You!</h1>
	<h3 class="has-text-centered subtitle">You will receive a confirmation email for your order. Expect delivery in 5-7 business days.</h3>
	<br>
	<h3 class="has-text-centered subtitle">Order Summary</h3>
 	<div class="container is-fluid has-text-centered shop-grid">
    <% @order.order_items.each do |item| %>
    <div class="checkout-grid-item">
      <div class="grid-img">    
        <%= image_tag item.product.image.url(:thumb) %>
      </div>
      <p><%= item.product.name %></p>
      <div class="has-text-centered quantity">
        <span id="to-grow">Quantity: <%= item.quantity %></span>
      </div>
      <p>Total: <%= number_to_currency item.subtotal %></p>
    </div>
    <% end %>
  </div>
</section>