<br>
<div class="container is-fluid has-text-centered">
  <h1 class="title">Add New Address</h1>
</div>
<%= render 'form' %>
<div class="container is-fluid has-text-centered">
 <%= link_to 'Back to order', order_path(session[:order_id]) %> 
</div>