<br>
<div class="container is-fluid has-text-centered">
  <h1 class="title">Edit Entry</h1>
</div>
<%= render 'form' %>
<%= link_to ' Delete Shroom', shroom_path(@shroom), class: "is-danger button is-small",  method: :delete, data: { confirm: "Are you sure?" } %>
<div class="container is-fluid has-text-centered">
 <%= link_to 'Back to database', shrooms_path %> 
</div>