<section>
    <h1>Welcome to the Shroom Hunters Database!</h1>
    <h3>Our user-contributed database is ever growing!</h3>
    

<p>
  <strong>Title:</strong>
  <%= @shroom.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @shroom.description %>
</p>
 
<%= link_to 'Back', shrooms_path %>
    
</section>