// Place all the styles related to the Shrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edible-tag {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
}

.grid-item {
	max-width: 30%;
	min-width: 30%;
	margin: 10px 10px;
	padding: 15px;
	border: 1px dotted rgba(0,0,0,0.3);
	transition: transform .25s ease;
}

.grid-item:hover {
	transform: scale(1.05, 1.05);
}

.grid-img {
	text-align: center;
}

#shroom-content {
	width: 80%;
}

.swell {
	transition: transform .25s ease;
}

.swell:hover {
	transform: scale(1.10, 1.10);
}


@media (max-width: 700px) {
	.grid {
		display: block;
		margin: 0 auto;
		min-width: 100%;
	}

	.grid-item {
		max-width: 100%;
		padding: 10px;
		margin-top: 10px;
	}
}

