/* Splash and Main Pages */

.navbar-brand {
  margin-left: 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.navbar-item {
  font-size: 0.9rem;
}

.shroom-basket {
  background-image: url("basket-shrooms.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headshot {
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: 300px;
}

/* Mushroom Database/Shop Grid Display */

.edible-tag {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  max-width: 15%;
  min-width: 15%;
  height: 100%;
  margin: 10px 10px;
  padding: 15px;
  // border: 2px solid rgba(0,0,0,0.3);
  transition: transform 0.25s ease;
}

.shop-grid-item {
  max-width: 25%;
  min-width: 25%;
  height: 325px;
  margin: 10px 10px;
  padding: 15px;
  // border: 2px solid rgba(0,0,0,0.3);
  transition: transform 0.25s ease;
}

.name {
  padding-bottom: 7px;
  margin-bottom: 10px;
  font-weight: 800;
}

.grid-item:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 3px 5px lightsteelblue;
}

.shop-grid-item:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 3px 5px lightsteelblue;
}

.grid-image {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.shop-grid-image {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 100%;
  height: 200px;
  text-align: center;
}

.nav-tools {
  display: flex;
  justify-content: space-around;
}

.swell {
  transition: transform 0.25s ease;
}

.swell:hover {
  transform: scale(1.1, 1.1);
}

/* Modal */

.modal-image {
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
}

.product-description-modal {
  margin-bottom: 20px;
}

/* For mobile */
@media (max-width: 700px) {
  .grid {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .grid-item {
    min-width: 75%;
    max-width: 75%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
  }

  .shop-grid-item {
    min-width: 75%;
    max-width: 75%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
  }

  .grid-description {
    width: 100%;
  }

  .name-genus {
    font-size: 0.5rem;
  }

  .tags {
    font-size: 0.5rem;
  }

  .shopping-cart {
    letter-spacing: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }

  .nav-tools {
    display: block;
    text-align: center;
  }
  .address-selection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .payment-selection {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

/* Checkout Page */

.quantity {
  display: flex;
  max-width: auto;
  flex-wrap: nowrap;
  justify-content: center;
}

.checkout-grid-item {
  margin: 10px 10px;
  transition: transform 0.25s ease;
}

.checkout-grid-item:hover {
  transform: scale(1.05, 1.05);
}

#to-grow {
  margin-right: 10px;
}

.checkout-form {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.address-selection {
  float: left;
  padding: 10px;
}

.payment-selection {
  float: right;
  padding: 10px;
}

form {
  width: 30%;
  margin: 0 auto;
}
