// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand {
	margin-left: 40px;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.navbar-item {
	font-size: 0.90rem;
}

.shroom-basket {
	background-image: url("/assets/basket-shrooms.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.headshot {
	margin: 0 auto;
	text-align: center;
	height: 300px;
	width: 300px;
}
