<section class="section">
	<div class="container is-fluid has-text-centered">
		<h1 class="title">Shroom Shop</h1>
	</div>
	<br>
	<div class="container is-fluid has-text-centered">
		<%= image_tag @product.image.url(:medium) %>
	</div>
</section>